body {
    background-color: rgba(2, 187, 255, 0.745);
    color: blue;
    font-size: 25px;
}
.main-header{
    color: white;
}
.sub-head{
    color: black;
    text-align: center;
}
#id {
    color: rgba(225, 101, 0, 0.844);
}
.white-font{
    color: white;
}
.dark-red{
    color: darkred;
}
span{
    color: rgb(250, 45, 34);
}
.orange-font{
    color: orange;
    text-align: center;
}
.background{
    background-image: url(img/beach.jpg);
    background-position: center;
    background-repeat: no;
    background-size: cover;
    color: white;
    height: 75vh;
}
.head{
    text-align: center;
    margin: 0px 25px;
    padding: 50px 25px 0px 25px;
}
body{
    font-family: 'Raleway', sans-serif;
}
.item1{
    background-color: antiquewhite;
    border: 3px solid black;
    background-position: center;
    padding: 15px 25px 50px 25px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
}
.item1a{
    background-color: antiquewhite;
    border:3px solid black ;
    background-position: center;
    padding:15px 25px 50px 25px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
}
.resizeball{
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid black;
}